HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
### Gradle ###
.gradle/
build/
local.properties
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code & IDE ###
.vscode/
.trae/
tool/listen.pem
tools/*.pem
*.pem

### Environment secrets ###
.env